@charset "utf-8";
.section1 {
	height: 70vh;
	display: flex;
	align-items: center;
}
.section2{
	opacity: 50%;
	height: 20vh;
	display: flex;
	align-items: center;

}
.card{
	border-color: transparent;
	box-shadow: #E3EFFE 1px 1px 20px;
	border-radius: 3rem;
	transition: transform .3s ease-in-out;
}
.card:hover{
	transform: translateY(-10px);
}
.btn{
	border-radius: 3rem;
}
.section3 {
	height: 100vh;
	display: flex;
	align-items: center !important;
	justify-content: center;
	
}
.section4{
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20vh;
	margin-bottom: 20vh;
}
.section5{
	height: 80vh;
	display: flex;
	align-items: center;
	margin-top: 2rem;
}
.section6{
	height: 80vh;
	margin-top: 2rem;
	display: flex;
	align-items: center;

}
@media (max-width: 990px){
	.section3, .section4{
	margin-top: 50vh;
	margin-bottom: 30vh;
	}
	.card-deck{
		margin-top: 60vh;
		margin-bottom: 30vh;
	}
	.section1, .section2{
		margin-bottom: 5vh;
	}
	.section6{
		display: initial;
	}
	.section7{
		background-color: transparent!important;
	}
	.section8{
	margin-top: 40vh;
	}
	h1{
		font-size: 3vh !important;
	}
}
.circle{
	height: 30vh;
	width: 30vh;
	border-radius: 999rem;
	background-color: white;
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: #E3EFFE 1px 1px 20px;
	color: #892CFF;
}
.section7{
	height: auto;
	display: flex;
	align-items: center;
	margin-top: 2rem;
	background-color: #D5EBFF;
	height:70vh;
}
@media(min-width:991px) and (max-width:1300px){
	.section4{
		margin-top: 20vh !important;
		margin-bottom: 30vh !important;
		}
}
