@charset "utf-8";
.section1 {
	min-height: 70vh;
	display: flex;
	align-items: center;
}
.section2{
	opacity: 50%;
	min-height: 20vh;
	display: flex;
	align-items: center;

}
.card{
	border-color: transparent;
	box-shadow: #E3EFFE 1px 1px 20px;
	border-radius: 3rem;
	transition: transform .3s ease-in-out;
}
.card:hover{
	transform: translateY(-10px);
}
.btn{
	border-radius: 3rem;
}
.section3 {
	min-height: 60vh;
	display: flex;
	align-items: center !important;
	justify-content: center;
	
}
.section4{
	min-height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.section5{
	min-height: 80vh;
	display: flex;
	align-items: center;
	margin-top: 2rem;
}
.section6{
	min-height: 80vh;
	margin-top: 2rem;
	display: flex;
	align-items: center;

}
@media (max-width: 990px){
	.card-deck{
		margin-top: 60vh;
		margin-bottom: 30vh;
	}
	.section6{
		display: initial;
	}
	.section7{
		background-color: transparent!important;
	}
	.section8{
	margin-top: 40vh;
	}
	h1{
		font-size: 3vh !important;
	}
	h3{
		font-size: 2vh !important;
	}
}
.circle{
	height: 30vh;
	width: 30vh;
	border-radius: 999rem;
	background-color: white;
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: #E3EFFE 1px 1px 20px;
	color: #892CFF;
}
.section7{
	min-height: auto;
	display: flex;
	align-items: center;
	margin-top: 2rem;
	background-color: #D5EBFF;
	height:70vh;
}
@media(min-width:991px) and (max-width:1300px){

}
@media(max-width:450px){
	.card{
		width: 65vw !important;
		}
}
